@using EntityLayer.Concreat;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>1UZ_Admin</title>
  <!-- Font Awesome Icons -->

    <link rel="icon" type="image/png" href="/css/imageFile/bepronorma.jpg">
  <link rel="stylesheet" href="/css/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->

  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4"> 
    <!-- Brand Logo -->
   @*  <a href="index3.html" class="brand-link">
      <img src="/css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>  *@

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <!-- Foydalanuvchi ikonkasi, rangni ko'k qilish -->
        <i class="fas fa-user img-circle elevation-2" style="font-size: 30px; cursor: pointer; color: #007bff;"></i>
    </div>
    <div class="info">
        <!-- Foydalanuvchi nomi -->
        <a href="#" class="d-block">@CurrentUser.UserName</a>
    </div>
</div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
           <a href="/News/AddNews/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                                    Янгилик қўшиш
              </p>
            </a>
          </li>
              <li class="nav-item has-treeview">
                 <a href="/Admin/Index/" class="nav-link">
                   <i class="nav-icon fas fa-user"></i>
                     <p>
                       Профил

                    </p>
                 </a>
              </li>
          <li class="nav-item">
            <a href="/News/Index/" class="nav-link">
             <i class="nav-icon fas fa-bullhorn"></i>
              <p>
                                    Янгиликлар
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/Users/Index" class="nav-link">
             <i class="nav-icon fas fa-users"></i>
              <p>
                 Фойдаланувчилар
              </p>
            </a> 
          </li>
          
          <li class="nav-item has-treeview">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                 Ҳақимизда
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/Users/AddUser/" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                                    Рўйхатдан ўтиш
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/Test_news/Index/" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                                    Черновек
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Login/Logout/" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                   Авторизация
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                 Gallery
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/ErrorPage/Page404/" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                 Xato sahifalari
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                 Saytga O`tish
              </p>
            </a>
          </li>
       <li class="nav-item has-treeview">
            <a href="javascript:void(0);" class="nav-link" onclick="logout()">
                <i class="nav-icon fas fa-apple-alt"></i>
                <p>Exit</p>
            </a>
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- /.content-header -->
    <div class="content">
                @RenderBody()
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>

  

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
@*<script src="/css/plugins/jquery/jquery.min.js"></script>*@
<!-- Bootstrap -->
<script src="/css/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/css/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/css/plugins/chart.js/Chart.min.js"></script>
<script src="/css/dist/js/demo.js"></script>
<script src="/css/dist/js/pages/dashboard3.js"></script>
</body>

</html>
<script>

    function logout() {
    // JavaScript yordamida oynani yopish
    window.close();  // Bu faqat yangi ochilgan oynada ishlaydi

    // Agar bu operatsiya ishlamasa, foydalanuvchini login sahifasiga yo'naltirishingiz mumkin
        window.location.href = "/Login/Logout"; // Avtorizatsiya sahifasiga qaytish
}

</script>