@model EntityLayer.Concreat.Users

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container mt-4" style="width:80%">
    <div class="card shadow-lg p-4">
        <form asp-action="AddUsers" asp-controller="Users" method="post" enctype="multipart/form-data" onsubmit="return validateUserForm()">

            <h3 class="mb-4">Менинг маълумодларим</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Админ исми</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Royan">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" id="Email" name="Email" class="form-control" placeholder="ryan@example.com">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Пароль</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" id="PasswordHash" name="PasswordHash" class="form-control" placeholder="*********">
                            <span class="input-group-text" style="cursor: pointer;"
                                  onmousedown="showPassword()"
                                  onmouseup="hidePassword()"
                                  onmouseleave="hidePassword()">
                                👁️
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Телефон рақам<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="998(90) 123 45 67">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Лавозими</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="Position" name="Position" class="form-control" value="User" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Language</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select id="language" class="form-control">
                            <option value="English">English</option>
                            <option value="O'zbek">O'zbek</option>
                            <option value="Русский">Русский</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Input maydoni -->
            <div class="row d-flex align-items-center" id="languageInputContainer" style="display: none;">
                <div class="col-md-6">
                    <label class="form-label">Тилни танланг</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="Language" name="Language" class="form-control" readonly>
                </div>
            </div>

            <!-- Save Button -->
            <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>

         </form>
    </div>
</div>


<!-- jQuery kutubxonasi -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/users.js"></script>




